<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="education"
>
  <div class="w-100">
    <h2 class="mb-5">Formación</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between"
    >
      <div class="resume-content">
        <h3 class="mb-0">Barcelona Activa, Cibernarium</h3>
        <div class="subheading mb-3">FrontEnd development</div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary"> Octubre 2019 - Marzo 2020</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mt-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">
          Escuela de idiomas BCNLip
        </h3>
        <div class="subheading mb-3">
          Curso de castellano
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Mayo 2015 - Octubre 2017</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mt-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">
          Moscow State University of Instrument Engineering and Computer
          Sciences (MGUPI)
        </h3>
        <div class="subheading mb-3">
          Computers, Complexes, Systems and Networks
        </div>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Septiembre 2006 - Junio 2011</span>
      </div>
    </div>
  </div>
</section>

<hr class="m-0" />
