<nav
  class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top navBarGrid"
  id="sideNav"
>
  <a class="navbar-brand js-scroll-trigger logo" href="#page-top">
    <a class="d-block d-lg-none logo">Anastasia Gulyaeva</a>
    <span class="d-none d-lg-block">
      <img
        class="img-fluid img-profile rounded-circle mx-auto mb-2"
        src="assets/anastasia-gulyaeva.jpg"
        alt="foto"
      />
    </span>
  </a>
  <button
    class="navbar-toggler menuNav"
    id="button"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <!--<span class="navbar-toggler-icon"></span>-->
    <input type="checkbox" id="nav-toggle" />
    <label for="nav-toggle" class="hamburger-icon my-auto">
      <span></span>
    </label>
  </button>
  <div
    class="collapse navbar-collapse menuItemsList"
    id="navbarSupportedContent"
  >
    <ul class="navbar-nav menuNavCentred">
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Sobre mi"
          href="#about"
          >Sobre mi</a
        >
      </li>
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Experiencia"
          href="#experience"
          >Experiencia</a
        >
      </li>
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Estudios"
          href="#education"
          >Estudios</a
        >
      </li>
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Habilidades"
          href="#skills"
          >Habilidades</a
        >
      </li>
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Intereses"
          href="#interests"
          >Intereses</a
        >
      </li>
      <li (click)="hideMenu()" class="nav-item">
        <a
          class="nav-link js-scroll-trigger"
          data-content="Contactos"
          href="#contact"
          >Contactos</a
        >
      </li>
    </ul>
  </div>
  <div class="social-icons social">
    <a href="https://www.instagram.com/nastygulyaeva/" target="_blank">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.linkedin.com/in/anastasia-gulyaeva/" target="_blank">
      <i class="fab fa-linkedin-in"></i>
    </a>
    <a href="https://www.behance.net/Nasty-N" target="_blank">
      <i class="fab fa-behance"></i>
    </a>
  </div>
</nav>
