<section
  class="resume-section p-3 p-lg-5 d-flex justify-content-center"
  id="experience"
>
  <div class="w-100">
    <h2 class="mb-5">Experiencia</h2>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Administrativa</h3>
        <div class="subheading mb-3">Autoescuela «Pallars», Barcelona</div>
        <p>
          - atención al cliente en ruso y castellano; <br />
          - gestión de redes sociales; <br />
          - organización de cursos; <br />
          - preparación de documentos.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Septiembre 2017 - Deciembre 2019</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Diseñadora y vendedora</h3>
        <div class="subheading mb-3">"Fotograver", Barcelona</div>
        <p>
          - atención al cliente, ventas;<br />
          - retoque fotográfico y realizacion de grabación en metal.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Febrero 2017 - Junio 2017</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between mb-5"
    >
      <div class="resume-content">
        <h3 class="mb-0">Diseñadora gráfica</h3>
        <div class="subheading mb-3">OOO «Mercury», Moscú</div>
        <p>
          - diseño de folletos, carteles, flyers, tarjetas de visita,
          calendarios, regalos promocionales y publicitarios y etc.;<br />
          - organización del tr abajo con freelancers e impresoras;<br />
          - fotografía de objetos y retoque fotográfico;<br />
          - administración de sitio web (contr ol de relevancia de infor mación
          y llenado de contenido);<br />
          - grabación de vídeo y montaje en Adobe Premier.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Agosto 2013 - Mayo 2015</span>
      </div>
    </div>

    <div
      class="resume-item d-flex flex-column flex-md-row justify-content-between"
    >
      <div class="resume-content">
        <h3 class="mb-0">Diseñadora-maquetadora</h3>
        <div class="subheading mb-3">Imprenta «Lika», Moscú</div>
        <p>
          - diseño de folletos, carteles, flyers, calendarios y etc.;<br />
          - imagen corporativa de empresa: logotipos, tarjetas de visita;<br />
          - Ilustracción vectorial;<br />
          - maquetación de libros, revistas, catálogos;<br />
          - preparación de preimpresión ;<br />
          - fotografía (de objetos y personas);<br />
          - retoque fotográfico.
        </p>
      </div>
      <div class="resume-date text-md-right">
        <span class="text-primary">Septiembre 2011 - Agosto 2013</span>
      </div>
    </div>
  </div>
</section>

<hr class="m-0" />
