<section
  class="resume-section p-3 p-lg-5 d-flex align-items-center"
  id="skills"
>
  <div class="w-100 p-0">
    <h2 class="mb-5">Habilidades</h2>

    <h3 class="mb-0">Lenguajes de programación &amp; Herramientas</h3>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <span class="overlay" data-overlay="HTML5">
          <object
            type="image/svg+xml"
            data="./assets/icons/html5.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="CSS3">
          <object
            type="image/svg+xml"
            data="./assets/icons/css3.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="JavaScript">
          <object
            type="image/svg+xml"
            data="./assets/icons/javascript.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="TypeScript">
          <object
            type="image/svg+xml"
            data="./assets/icons/typescript.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Angular 9">
          <object
            type="image/svg+xml"
            data="./assets/icons/angular.svg"
            width="auto"
            height="56px"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Node.js">
          <object
            type="image/svg+xml"
            data="./assets/icons/nodejs.svg"
            width="auto"
            height="56px"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Sass">
          <object
            type="image/svg+xml"
            data="./assets/icons/sass.svg"
            width="auto"
            height="56px"
          ></object>
        </span>
      </li>
      <br />

      <li class="list-inline-item">
        <span class="overlay" data-overlay="Bootstrap 4">
          <object
            type="image/svg+xml"
            data="./assets/icons/bootstrap.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="NPM">
          <i class="fab fa-npm fa-4x"></i>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="GitHub">
          <object
            type="image/svg+xml"
            data="./assets/icons/github.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="jQuery">
          <object
            type="image/svg+xml"
            data="./assets/icons/jquery.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Mapas Leaflet">
          <object
            type="image/svg+xml"
            data="./assets/icons/leaflet.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="MySQL">
          <object
            type="image/svg+xml"
            data="./assets/icons/mysql.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
    </ul>

    <h3 class="mb-0 mt-5">Diseño gráfico</h3>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item" title="Adobe illustrator">
        <span class="overlay" data-overlay="Adobe Illistrator">
          <object
            type="image/svg+xml"
            data="./assets/icons/adobe-illustrator.svg"
            width="56"
            height="auto"
            alt="Adobe illustrator"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Adobe Photoshop">
          <object
            type="image/svg+xml"
            data="./assets/icons/adobe-photoshop.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Adobe Indesign">
          <object
            type="image/svg+xml"
            data="./assets/icons/adobe-indesign.svg"
            width="56"
            height="auto"
            title="Ind"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Adobe Lightroom">
          <object
            type="image/svg+xml"
            data="./assets/icons/adobe-lightroom.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Adobe After Effects">
          <object
            type="image/svg+xml"
            data="./assets/icons/after-effects.svg"
            width="56"
            height="auto"
          ></object>
        </span>
      </li>
    </ul>

    <h3 class="mb-0 mt-5">Otras habilidades</h3>
    <ul class="list-inline dev-icons">
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Carnet de conducir">
          <object
            type="image/svg+xml"
            data="./assets/icons/driving-license.svg"
            width="auto"
            height="56"
          ></object>
        </span>
      </li>
      <li class="list-inline-item">
        <span class="overlay" data-overlay="Vehículo propio">
          <object
            type="image/svg+xml"
            data="./assets/icons/motorcycle.svg"
            width="auto"
            height="56px"
          ></object>
        </span>
      </li>
    </ul>
  </div>
</section>

<hr class="m-0" />
